body {
    /*display: flex;*/
    justify-content: center;
    background-color: gray;
    align-content: center;
    margin-left: 35%;
    margin-right: 50%;
    margin-top: 2%;
}

#div-container {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    width: 576px;
    height: 656px;
    border-style: solid;
    align-content: normal;
    justify-content: center;
    margin-top: 5%;
}

.Etch {
    display: flex;
    flex: 1;
    background-color: white;
    border-style: solid;
    padding: 15px;
}

.interactivity {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 100px;
}

#reset-button {
    display: flex;
}

#change-size {
    white-space: nowrap;
    display: inline-block;
}